* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* outline: 1px solid red; */
    ;
}

body {
    height: 100vh;
    display: block;
    background-color: #03032e;
}

/* Navigation */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #999999;
    border-bottom: 2px solid #c9c9c9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.main-logo {
    height: 70px;
    border-radius: 40px;
    padding: 7px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0px 10px;
}

.nav-links,
a:link {
    list-style-type: none;
    font-size: 1.em;
    font-weight: bold;
    color: #111138;
    text-decoration: none;
}

.nav-links,
a:visited {
    color: #111138;
    text-decoration: none;
}

.nav-links,
a:hover {
    color: #c9c9c9;
}

.social-logos {
    height: 30px;
    width: 30px;
    margin: 0px 2px;
}

.social-logos:hover {
    scale: 1.1;
    transition: .3s;
}

/* Main */

.hero {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-text {
    flex: 1 1 500px;
    max-width: 500px;
    display: block;
    padding: 40px;
    margin-right: auto;
    color: #c9c9c9;
}

.scroll-text {
    flex: 2 1 600px;
    display: block;
    padding: 40px;
    margin-right: auto;
    color: #c9c9c9;

}

#intro {
    margin-left: 2px;
    font-size: 1em;
}

#name {
    margin-top: -5px;
    font-size: 3.2em;
    font-weight: 800;
}

#title {
    font-size: 1.3em;
    margin-bottom: 20px;
}

#about {
    font-size: 2em;
    margin-bottom: 10px;
}